<div class="linkee-home-component">
  <div class="content">
    <mat-card class="example-card">
      <img class="img-logo" mat-card-image src="../../assets/linkee-image.png" alt="Photo of a Shiba Inu" />
      <mat-card-content>
        <p class="rules">
          <u>How To Play</u><br />
          1) 5-6 Players can play, enter their names below <br />
          2) One would be God, Master who knows all options, clues & answer (to view enter the gameID in another device and retrieve the game)<br />
          3) Game will start with a question card on screen with value either L &nbsp; I &nbsp; &nbsp; N &nbsp; K &nbsp; E <br />
          4) 4 options are given which has a link.<br />
          5) If the player guessed it correct, Master will click on player name to update his score card<br />
          Eg: Jack answered the question with card value 'L' right, then his score card will have L<sup>1</sup> added to his snack-bar-container<br />
          6) First player to have L<sup>1</sup> &nbsp; I<sup>1</sup> &nbsp; N<sup>1</sup> &nbsp; K<sup>1</sup> &nbsp; E<sup>1</sup>, all 1 wins !!<br />
        </p>
      </mat-card-content>
    </mat-card>
    <!-- <div class="row">
      <img src="../../assets/linkee-image.png" class="img-logo" />
    </div>
    <div class="rules">
      How to Play ?<br />
      1) 5-6 Players can play, enter their names below <br />
      2) One would be God, Master who knows all options, clues & answer (to view enter the gameID in another device and retrieve the game)<br />
      3) Game will start with a question card on screen with value either 'L', 'I', 'N', 'K', 'E' <br />
      4) 4 options are given which has a link.<br />
      5) If the player guessed it correct, Master will click on player name to update his score card<br />
      Eg: Jack answered the question with card value 'L' right, then his score card will have L<sup>1</sup> added to his snack-bar-container<br />
      6) First player to have L<sup>1</sup>I<sup>1</sup>N<sup>1</sup>K<sup>1</sup>E<sup>1</sup>, all 1 wins !!<br />
    </div> -->
    <div class="row row-content">
      <div class="left">
        <iframe
          class="video-iframe"
          width="420"
          height="345"
          src="https://www.youtube.com/embed/8eeBDLmZrVo"
          frameborder="0"
          allow="autoplay; encrypted-media"
          allowfullscreen
        ></iframe>
      </div>
      <div class="right">
        <div class="child">
          <mat-form-field>
            <mat-chip-list #chipList aria-label="Player">
              <mat-chip *ngFor="let player of players" [selectable]="selectable" [removable]="removable" (removed)="remove(player)">
                {{player.name}}
                <mat-icon matChipRemove *ngIf="removable">x</mat-icon>
              </mat-chip>
              <input
                placeholder="New Player"
                [matChipInputFor]="chipList"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                [matChipInputAddOnBlur]="addOnBlur"
                (matChipInputTokenEnd)="add($event)"
              /> </mat-chip-list
          ></mat-form-field>
        </div>

        <div class="child">
          <input type="Button" class="btn new-game" (click)="enterGameWithId()" value="New Game" />
        </div>
        <div class="child">
          <span class="spy-info">Enter the Game ID </span>
          <input type="text" inputmode="numeric" pattern="[0-9]*" maxlength="4" min="0" class="input-game" [(ngModel)]="gameId" />
          <mat-slide-toggle class="slide-toggle" [checked]="spyMode" color="warn" (change)="spyMode = !spyMode">
            <label class="label">Master View</label>
          </mat-slide-toggle>
          <button mat-raised-button (click)="enterGameWithId()" color="warn" class="btn existing-game" [disabled]="this.gameId === 0">
            Retrieve Game
          </button>
          <span class="warning">(Best viewed in landscape mode) </span>
        </div>
        <div class="child" style="margin-bottom: 0;">
          <div
            class="fb-like"
            data-href="https://www.facebook.com/Code-Names-209536786480174/"
            data-layout="button"
            data-action="like"
            data-size="small"
            data-show-faces="true"
            data-share="true"
          ></div>
        </div>
      </div>
    </div>
  </div>
</div>
