<div class="linkee-game">
  <div class="container-fluid">
    <div class="row header">
      <div class="col-2">
        <span class="label" (click)="navigateToHome()"> LINKEE </span>
      </div>
      <div class="col-1 cards-count">
        <span class="RED card-left">{{ maxColorLeft }}</span>
        <span class="BLUE card-left">{{ minColorLeft }}</span>
      </div>
      <div class="col-5 message">
        <button
          mat-mini-fab
          color="accent"
          class="id-text"
          *ngIf="gameResultColor === CodeBlockColor"
        >
          <span>ID: {{ gameId }} </span>
        </button>
        <span
          class="result GREEN"
          *ngIf="
            gameResultColor !== CodeBlockColor &&
            gameResultColor !== CodeBlockColor
          "
        >
          Congrats {{ gameResultColor }} team !!!

          <span *ngIf="gameResultColor !== CodeBlockColor">
            Redirecting to Home {{ this.homeCountDown }}
          </span>
        </span>
        <span class="result RED" *ngIf="gameResultColor === CodeBlockColor">
          Game Over !!!
          <span *ngIf="gameResultColor !== CodeBlockColor">
            Redirecting to Home {{ this.homeCountDown }}
          </span>
        </span>
        <span class="timer" *ngIf="gameResultColor === CodeBlockColor">
          <button
            mat-mini-fab
            color="{{
              this.countDownLimit <= 30
                ? this.countDownLimit % 2 === 0
                  ? 'warn'
                  : 'basic'
                : 'basic'
            }}"
          >
            {{ this.countDownLimit }}
          </button>
        </span>
      </div>
      <div class="col-1 show-cards">
        <mat-slide-toggle
          *ngIf=""
          class="slide-toggle-board"
          (change)="toggleShowAllCards()"
        >
          Board
        </mat-slide-toggle>
      </div>
      <div class="col-1">
        <mat-slide-toggle
          class="slide-toggle"
          [checked]=""
          (change)="toggleGameView()"
        >
          <span *ngIf="false">{{ spyViewCount }}</span>
          Spy</mat-slide-toggle
        >
      </div>
      <div class="col-1">
        <button
          mat-raised-button
          (click)="initGame({ enableGujjuView: enableGujjuView })"
          color="warn"
          class="reset"
        >
          Reset
        </button>
      </div>
    </div>
  </div>

  <div class="content-box">
    <div class="question-card">
      <div
        class="questions result"
        *ngFor="let question of questions; let i = index"
      >
        <div *ngIf="i <= 3">
          <span>{{ i + 1 }}.</span><span>{{ question }}</span>
        </div>
        <span class="clue" *ngIf="i == 4">{{ question }}</span>
        <span class="answer" *ngIf="i == 5">{{ question }}</span>
      </div>
    </div>
  </div>

  <div class="footer">
    <div class="block players" *ngFor="let player of players">
      <div class="block-content">
        <div class="name">
          {{ player.name }}
        </div>
        <div class="game-score">
          <span
            class="result"
            *ngFor="let res of _.keys(player.result); let i = index"
          >
            {{ res }} <sup>{{ player.result[res] }}</sup></span
          >
        </div>
      </div>
    </div>
  </div>
</div>
