.linkee-game {
  font-family: 'Comic Sans MS', cursive, sans-serif;
  /* font-size: 22px; */
  user-select: none;
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: absolute;
  background-color: #050000;
  background-image: url(../../assets/linkee-game-bg-2.jpg);
}
.content-box,
.footer {
  display: flex;
  flex-wrap: wrap;
  /* height: 70%; */
  margin-top: 10px;
  justify-content: center;
}
.footer {
  /* height: 100%; */
}
.clue {
  justify-content: left;
}
.answer {
  justify-content: center;
  font-weight: bold;
}
.block,
.question-card {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 calc(20% - 12px);
  flex: 0 1 calc(20% - 12px);
  margin: 5px;
  height: 200px;
  cursor: pointer;
  text-align: center;
  font-size: 30px;
  /* border: 1px dotted #ccc; */
  border-radius: 20px;
  color: #040505;
  /* height: calc(100% / 5); */
  height: 130px;
  background: rgba(255, 255, 255, 0.9);
}
.question-card {
  height: 100%;
  flex: 0 0 calc(50%);
  padding: 20px;
  box-shadow: inset 0 0 0 10px lightgrey;
}
.question-card .mat-chip {
  padding: 15px 12px;
  width: 100%;
  font-weight: bold;
  font-size: large;
}
.card-value {
  margin-bottom: 10px;
  font-size: large;
  left: 40px;
}
.next-question {
  float: right;
  margin-right: 10px;
}
.questions {
  text-align: left;
  margin-bottom: 20px;
}
.block.WHITE:hover,
.block.WHITE:focus,
.block.WHITE:active {
  opacity: 0.5;
}

.block.YELLOW {
  background: #e9ec05;
}

.block.BLUE,
.BLUE {
  background: #0572ec;
}

.block.GREEN,
.GREEN {
  background: #05ec0c;
}

.block.BLACK {
  background: #7d7d73;
}

.block.RED,
.RED {
  background: #ec2e05;
}

.warning {
  background: #dc3545;
}
.card-left {
  padding: 0 15px;
}
.reset {
  border: 0;
  color: #fff;
  background: #ec2e05;
  padding: 0;
  padding: 0 10px;
}

.header {
  height: 50px;
  font-size: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0 15px;
  color: black;
}

input {
  border: 1px solid;
  border-radius: 2px;
  font-family: Arial;
  height: 30px;
  min-width: 80px;
  padding: 0 15px;
  font-size: 12px;
  font-weight: 700;
}
.btn {
  cursor: pointer;
}
.blue {
  color: #004085;
  background-color: #cce5ff;
  border-color: #b8daff;
}
.block.clicked {
  text-decoration: line-through;
  text-decoration-style: dotted;
}
.label {
  position: relative;
  top: 3px;
}
.game-number {
  min-width: 40px;
  width: 40px;
}
.slide-toggle {
  margin: 10px;
  float: right;
}
.slide-toggle-board {
  margin: 10px;
}
.block-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}
.game-score {
  margin-top: 10%;
  font-weight: bold;
}
.result:nth-child(0),
.L {
  color: #8c386a;
}
.result:nth-child(1),
.L {
  color: #8c386a;
}
.result:nth-child(2),
.I {
  color: #a6b632;
}
.result:nth-child(3),
.N {
  color: #cc3d39;
}
.result:nth-child(4),
.K {
  color: #83b4df;
}
.result:nth-child(5),
.E {
  color: #e2d548;
}

.result:nth-child(0) .mat-chip,
#L {
  background: #8c386a;
}
.result:nth-child(1) .mat-chip,
.result:nth-child(7) .mat-chip,
#L {
  background: #8c386a;
}
.result:nth-child(2) .mat-chip,
.result:nth-child(6) .mat-chip,
#I {
  background: #a6b632;
}
.result:nth-child(3) .mat-chip,
#N {
  background: #cc3d39;
}
.result:nth-child(4) .mat-chip,
#K {
  background: #83b4df;
}
.result:nth-child(5) .mat-chip,
#E {
  background: #e2d548;
}

.result:nth-child(8) .mat-chip,
#E {
  background: GREEN;
  text-transform: UPPERCASE;
}

.block-content .name {
  width: 100%;
  text-decoration: underline;
  color: darkslategray;
}
.block-content .result {
  bottom: 0;
}
.block.players {
  box-shadow: inset 0 0 0 10px lightgrey;
}
.label {
  cursor: pointer;
}
.logo {
  cursor: pointer;
  height: 15px;
}
button.id-text.mat-mini-fab.mat-accent {
  width: 100px;
  /* font-size: 17px; */
  font-weight: bold;
  font-family: 'Comic Sans MS', cursive, sans-serif;
}
.cards-count {
  display: flex;
}
.message {
  display: flex;
  justify-content: center;
}
.timer {
  right: 0;
  position: absolute;
}

button {
  font-family: 'Comic Sans MS', cursive, sans-serif;
}
.footer.no-events {
  pointer-events: none;
}

/* ipad in landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  .block {
    height: 16%;
    font-size: 12px;
    word-break: break-all;
  }
  .header {
    font-size: 12px;
  }
  .reset {
    font-size: 12px;
    min-width: 45px;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
  .block {
    height: 16%;
    font-size: 22px;
    word-break: break-all;
  }
  .header {
    font-size: 12px;
  }

  .show-cards {
    display: none;
  }
}

/* iphone 6,7,8 */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: landscape) {
  .block {
    height: 16%;
    font-size: 19px;
    max-width: 120px;
    word-break: break-all;
  }
  .header {
    font-size: 12px;
  }
  .reset {
    font-size: 12px;
    min-width: 45px;
  }

  .show-cards {
    display: none;
  }
}

/* iphone 6,7,8 plus */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: landscape) {
  .block {
    height: 16%;
    font-size: 19px;
    max-width: 120px;
    word-break: break-all;
  }
  .header {
    font-size: 12px;
  }
  .reset {
    font-size: 12px;
    min-width: 45px;
  }

  .show-cards {
    display: none;
  }
}

/* iphone X */
@media only screen and (min-device-width: 737px) and (max-device-width: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape) {
  .header {
    font-size: 12px;
  }
  .reset {
    font-size: 12px;
    min-width: 45px;
  }

  .show-cards {
    display: none;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
  .block {
    flex: 0 1 18%;
    font-size: 16px;
  }
  .header {
    font-size: 16px;
    padding: 0;
  }
}

/* iphone 6,7,8 */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: portrait) {
  .block {
    flex: 0 1 100%;
  }

  .code-name {
    overflow: scroll;
  }
  .header {
    font-size: 16px;
    padding: 0;
  }
  .cards-count {
    display: block;
  }
  .reset {
    display: none;
  }
  .show-cards {
    display: none;
  }
}

/* iphone 6,7,8 plus */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: portrait) {
  .block {
    flex: 0 1 100%;
  }

  .code-name {
    overflow: scroll;
  }

  .header {
    font-size: 16px;
    padding: 0;
  }
  .cards-count {
    display: block;
  }
  .reset {
    display: none;
  }

  .show-cards {
    display: none;
  }
}
/* iphone X */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait) {
  .block {
    flex: 0 1 100%;
  }
  .code-name {
    overflow: scroll;
  }
  .header {
    font-size: 16px;
    padding: 0;
  }
  .cards-count {
    display: block;
  }
  .reset {
    display: none;
  }

  .show-cards {
    display: none;
  }
}
