<div class="linkee-game">
  <div class="container-fluid">
    <div class="row header">
      <div class="col-2 result" (click)="navigateToHome()">
        <span class="L label"> L </span>
        <span class="I label"> I </span>
        <span class="N label"> N </span>
        <span class="K label"> K </span>
        <span class="Elabel"> E </span>
        <span class="E label"> E </span>
      </div>
      <div class="col-1 cards-count">
        <!-- <span class="RED card-left">{{ maxColorLeft }}</span>
        <span class="BLUE card-left">{{ minColorLeft }}</span> -->
      </div>
      <div class="col-5 message">
        <button mat-mini-fab color="accent" class="id-text">
          <span>ID: {{ gameId }} </span>
        </button>
        <span class="result RED" *ngIf="isGameOver"> {{ playerWhoWon.name }} Wins !!! </span>
        <span class="timer">
          <button mat-mini-fab color="{{ this.countDownLimit <= 30 ? (this.countDownLimit % 2 === 0 ? 'warn' : 'basic') : 'basic' }}">
            {{ this.countDownLimit }}
          </button>
        </span>
      </div>
      <div class="col-1 show-cards">
        <!-- <mat-slide-toggle *ngIf="" class="slide-toggle-board" (change)="toggleShowAllCards()">
          Board
        </mat-slide-toggle> -->
      </div>
      <div class="col-1">
        <mat-slide-toggle class="slide-toggle" [checked]="isSpyMasterViewOn()" (change)="toggleGameView()"> Spy</mat-slide-toggle>
      </div>
      <div class="col-1">
        <button mat-raised-button (click)="initGame()" color="warn" class="reset">
          Reset
        </button>
      </div>
    </div>
  </div>

  <div class="content-box">
    <div class="question-card" *ngIf="cards">
      <button mat-fab class="card-value" color="primary" id="{{ cards[currentCard].value }}">
        {{ cards[currentCard].value }}
      </button>
      <span class="next-question" (click)="goToNextQuestion()">NEXT</span>
      <div class="questions result" *ngFor="let question of cards[currentCard].questions; let i = index">
        <mat-chip-list>
          <mat-chip id="{{ i }}" (click)="showOption(i)" style="cursor: pointer;">
            <span *ngIf="i <= 3">{{ i + 1 }}.</span>
            <span id="option-{{ i }}" *ngIf="i <= 3" [hidden]="optionHidden[i]">{{ question }}</span>
            <span *ngIf="i == 4">Clue: </span>
            <span class="clue" id="option-{{ i }}" *ngIf="i == 4" [hidden]="optionHidden[i]">{{ question }}</span>
            <span *ngIf="i == 5">Answer:</span>
            <span class="answer" id="option-{{ i }}" *ngIf="i == 5" [hidden]="optionHidden[i]">{{ question }}</span>
          </mat-chip>
        </mat-chip-list>
      </div>
    </div>
  </div>

  <div class="footer" [ngClass]="{ 'no-events': isGameOver }">
    <div class="block players" *ngFor="let player of players">
      <div class="block-content" (click)="updateScore(player)">
        <div class="name">
          {{ player.name }}
        </div>
        <div class="game-score">
          <span class="result" *ngFor="let res of _.keys(player.score); let i = index">
            {{ res }} <sup>{{ player.score[res] }}</sup></span
          >
        </div>
      </div>
    </div>
  </div>
</div>
