<div class="code-name">
  <div class="container-fluid">
    <div class="row header">
      <div class="col-2">
        <span class="label" (click)="navigateToHome()"> Code Names </span>
      </div>
      <div class="col-1 cards-count">
        <span class="RED card-left">{{ maxColorLeft }}</span>
        <span class="BLUE card-left">{{ minColorLeft }}</span>
      </div>
      <div class="col-6 message">
        <button mat-mini-fab color="accent" class="id-text" *ngIf="!gameResultColor">
          <span>ID: {{ gameId }}
          </span>
        </button>
        <span class="result GREEN" *ngIf="gameResultColor && gameResultColor !== CodeBlockColor.BLACK">
          Congrats {{ gameResultColor }} team !!!
        </span>
        <span class="result RED" *ngIf="gameResultColor && gameResultColor === CodeBlockColor.BLACK">
          Game Over !!!
        </span>
      </div>
      <div class="col-1">
        <mat-slide-toggle *ngIf="isSpyMasterViewOn()" class="slide-toggle-board" (change)="toggleShowAllCards()">
          Board
        </mat-slide-toggle>
      </div>
      <div class="col-1">
        <mat-slide-toggle class="slide-toggle" [checked]="isSpyMasterViewOn()" (change)="toggleGameView()">
          Spy
        </mat-slide-toggle>
      </div>
      <div class="col-1">
        <button mat-raised-button (click)="initGame({})" color="warn" class="reset">Reset</button>
      </div>
    </div>
  </div>
  <div class="content-box">
    <div class="block" [ngClass]="getCodeBlockClass(block)" *ngFor="let block of codeBlocks;" (click)="onBlockClick(block)">
      <div class="block-content" *ngIf="!loading && (!block.clicked || showAllCards)">{{ block.word }}</div>
    </div>
  </div>
</div>