.code-name {
  font-family: sans-serif;
  font-size: 22px;
  user-select: none;
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: absolute;
}

.content-box {
  display: flex;
  flex-wrap: wrap;
  height: 85%;
    /* background-color: #6c2505;
  background-size: 40px 160px, 60px 29px, 27px 27px;
  background-image: linear-gradient(90deg, #551c07 50%, transparent 50%), linear-gradient(94deg, rgba(91, 33, 5, 0.1) 0%, rgba(83, 29, 4, 0.32) 23%, rgba(74, 24, 3, 0.41) 47%, rgba(80, 27, 5, 0.44) 70%, rgba(81, 27, 5, 0.59) 74%, rgba(93, 33, 4, 0.2) 83%, rgba(115, 43, 3, 0.5) 100%), linear-gradient(90deg, #541c09 50%, transparent 50%), linear-gradient(90deg, #7a2e00 50%, #632401 50%);
  /* height: 370px; */
  box-shadow: black 0px 0px 10px inset, black 0px 0px 10px; */
}

.block {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 calc(20% - 12px);
  flex: 0 1 calc(20% - 12px);
  margin: 5px;
  height: 200px;
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  font-size: 30px;
  border: 1px dotted #ccc;
  border-radius: 20px;
  color: #040505;
  height: calc(100% / 5);
}

.block.YELLOW {
  background: #E9EC05;
}

.block.BLUE, .BLUE {
  background: #0572EC;
}

.block.GREEN, .GREEN {
  background: #05EC0C;
}

.block.BLACK {
  background: #7D7D73;
}

.block.RED, .RED {
  background: #EC2E05;
}

.warning {
  background: #dc3545;
}
.card-left {
  padding: 15px;
  font-size: 30px;
}
.reset {
  float: right;
  border: 0;
  color: #fff;
  background: #EC2E05;
  font-size: 14px; 
  margin-top: 4px;
}

.header {
  padding: 10px 1.5%;
  background-color: #2c2c2c;
  color: #fff;
}

input {
  border: 1px solid;
  border-radius: 2px;
  font-family: Arial;
  height: 30px;
  min-width: 80px;
  padding: 0 15px;
  font-size: 12px;
  font-weight: 700;
}
.btn {
  cursor: pointer;
}
.blue {
  color: #004085;
  background-color: #cce5ff;
  border-color: #b8daff;
}
.result {
  /* margin-top: auto;
  margin-right: auto;
  margin-left: auto;
  left: 47%;
  position: absolute; */
  font-size: 30px;
  padding: 15px;
  position: relative;
  left: 18%;
}
.block.clicked {
  text-decoration: line-through;
  opacity: 0.6;
  text-decoration-style: dotted;
}
.label {
  position: relative;
  top: 3px;
}
.game-number {
  min-width: 40px;
  width: 40px;
}
.slide-toggle {
  margin: 10px;
  float:right;
}
.block-content {
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-direction: row; */
  height: 100%;
}