.code-name {
  font-family: Lato;
  font-size: 22px;
}
.content-box {
  border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
}
.block {
  flex: 1 0 20%;
  margin: 5px;
  height: 100px;
  background-color: blue;
}